#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-bar {
  padding: .2em;
  width: 95%;
  text-align: center;
  font-size: 1em;
}

.card {
  padding: 2em;
}

.random-quote {

}

.search-result-quote {
  padding: 0 .5em 0 .5em;
  margin: 1em 0 0 0;
  border: 1px solid;
  box-shadow: 5px 5px 5px #e0b469;
  border-radius: 10px;
}

.quote-author {
  text-align: right;
}
