#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-bar {
}

.search-bar input {
  height: 2em;
  width: 95%;
  text-align: center;
}

.card {
  padding: 2em;
}

.random-quote {

}

.search-result-quote {
  padding: 0 .5em 0 .5em;
  margin: 1em 0 0 0;
  border: 1px solid white;
  border-radius: 20px;
}

.quote-author {
  text-align: right;
}
